# Lab1 of 3

In [16]:
# Use this playground to experiment with list methods, using Test Run

In [17]:
# Use this playground to experiment with list methods, using Test Run

x = ['Apple', 'Cup', 'Gold', 'Silver', 'Age', 'Ball']
x.sort()
print(x)

['Age', 'Apple', 'Ball', 'Cup', 'Gold', 'Silver']

In [18]:
mylist = x.copy()
print(mylist)

['Age', 'Apple', 'Ball', 'Cup', 'Gold', 'Silver']

In [19]:
#The clear() method empties the list
list = mylist.clear() 
print(list)

None

In [20]:
list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]

JoinList = list1 + list2
print(JoinList)

['a', 'b', 'c', 1, 2, 3]

In [21]:
x.reverse()
print (x)

['Silver', 'Gold', 'Cup', 'Ball', 'Apple', 'Age']